    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Features</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Clear cut MVC architecture</li>
                <li><i class="fa fa-check"></i> OOP code</li>
                <li><i class="fa fa-check"></i> Hooks to extend features</li>
                <li><i class="fa fa-check"></i> ORM to manage database</li>
                <li><i class="fa fa-check"></i> URL rewriting</li>
                <li><i class="fa fa-check"></i> Translatable using Gettext</li>
                <li><i class="fa fa-check"></i> Composer-friendly</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->

    <!-- ******REQUIREMENTS****** -->
    <section id="requirements" class="requirements section">
        <div class="container text-center">
            <h2 class="title">Requirements</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> A webserver (Apache and Nginx are fully supported)</li>
                <li><i class="fa fa-check"></i> PHP 5.3.0 or later</li>
                <li><i class="fa fa-check"></i> A database such as MySQL (MariaDB, PostgreSQL and SQLite are also supported)</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
