<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}
<body data-spy="scroll">
{% include facebook.html %}
{% include header_docs.html %}


<!-- ******DOCS****** -->
<section id="docs" class="docs section">
    <div class="container">
        <div class="docs-inner">
            <h2 class="title text-center">{{ page.title }}</h2>

            <div class="block">
                {{ content }}
            </div>

        </div><!--//docs-inner-->
    </div><!--//container-->
</section>


{% include footer.html %}
</body>
</html>
